/* Styles here are more focused and scoped to what’s inside <App />
Usually imported in <App.jsx> */

 edwinndungu
*:root {
  --bg-color: #fef8f4;
  --accent-color: #e07a5f;
  --highlight-color: #f4a261;
  --light-accent: #f1d1b5;
  --text-color: #3d2c29;
  --card-bg: #fff4e6;
  --border-color: #e6c4aa;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to left, #000000, #8b0000);
  color: var(--text-color);
}

h1 {
    background: black;
    color: #f50606;
    padding: 20px;
    font-size: 2.5rem;
    margin: 0;
    border-bottom: 3px solid #a00000;
    text-transform: uppercase;
    font-weight: 1000;
    text-align: center
    
}
.search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 2px solid #ff0000;
    border-radius: 8px;
    width: 300px; 
    background-color: #460101;
    margin: 20px auto;
    
}
input[type="text"] {
    width: 100%;
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
    background-color: #fef8f4;
}

.search-button {
    
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 8px 16px;
    font-size: 15px;
    font-weight: bold;
    background-color: #ff0101;
    color: lightgray;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}

button:hover {
    background: lightcoral;
    color: #000000;
    transition: background-color 0.3s, color 0.3s;

    transform: scale(1.05);
}

h2 {
    font-size: 40px;
    margin: 20px 0;
    text-align: center;
    padding: 18px;

    color: rgb(255, 0, 0) ;
    text-transform: uppercase;
    background-color: black;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

ul {
    list-style: none;
    padding: 20px;
    margin: auto;
    display: block;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}
li {
    padding: 12px;
    margin: 5px 0;
    background-color: lightgray;
    border-radius: 5px;
    transition: background-color 0.3s;
}
li:hover {
    background-color: rgb(255, 0, 0);
    color: #000000;
    transform: scale(1.05);
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
    
}
 main

